#modal {
    display: none; /* initially hidden */
    position: fixed; /* position in the center of the screen */
    z-index: 1; /* show on top of other elements */
    left: 0;
    top: 0;
    width: 100%; /* full width */
    height: 100%; /* full height */
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0,0,0); /* background color */
    background-color: rgba(0,0,0,0.4); /* transparent background */
  }
  
  /* modal content */
  form {
    background-color: #fefefe;
    margin: 15% auto; /* position in the center of the screen */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* set a fixed width */
  }
  
  /* close button */
  #close-btn {
    float: right;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* open button */
  #open-btn {
    /* background-color: black; */
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
  }
  