body {
  font-family: "Montserrat";
  /* color: #320E3B; */
  background-color: #BCEDF6 !important;
}


.logo-image {
  object-fit: contain;
  width: 50px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 20px;
}

.navbar-list li:last-child {
  margin-right: 0;
}

.navbar-list li a {
  color: #320E3B;
  font-size: 18px;
  text-decoration: none;
}

.navbar-list li a:hover {
  text-decoration: underline;
}


nav {
  background-color: #BCEDF6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-title {
  color: #320E3B;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  color: #320E3B;
  font-size: 15px;
  margin-left: 20px;
  text-decoration: none;
}

.navbar-toggle {
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  padding: 8px 16px;
  margin-left: 20px;
  font-weight: bold;
  text-decoration: none;
}



.btn {
  margin-right: 3%;
}

.buttonslol {
  position: relative;
  left: 200px;
}

.update_recent {
  background-color: white;
}
#title {
  background-color: #BCEDF6;
  color: #fff;
}

.title-name {
  padding-top: 20px;
  padding-left: 8%;
  font-size: 1.7rem;
  font-family: "Ubuntu";
  font-weight: bold;
  color: #320E3B;
  position: relative;
}

.ppp::placeholder {
  text-align: center;
}


.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #320E3B;
  padding-bottom: 2%;
}

#start {
  background-color: #BCEDF6;
  padding: 4% 9% 300px 9%;
}

.startcontent {
  padding-top: 70px;
}

.container-fluid {
  color: #320E3B;
}



.fas {
  color: #320E3B;
}

.content-items img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}





#foots {
  padding: 5px 2% 2% 2%;
  color: black;
  text-align: center;
  background-color: #BCEDF6;

}

/* #foots a {
  color: black;
} */

.conimg {
  /* position: relative; */
  /* float: left; */
  right: 35px;
  width: 90%;
  height: 86%;
}


.col-3 {
  padding-top: 70px;
}

.try1 {
  position: relative;
  text-align: left;
  /* padding-left: 3px; */
  /* left: 70px; */
  /* padding-left: 120px; */



}

.try1 a:link {
  text-decoration: none;
  color: black;
}

.try1 a:visited {
  text-decoration: none;
  color: black;
}

.try1 a:hover {
  text-decoration: none;
  font-size: larger;



}

.try1 a:active {
  text-decoration: none;
  color: white;
}

.insta a:hover {
  color: #e32abe;
}

.fb a:hover {
  color: rgb(64, 64, 231);
}

.twit a:hover {
  color: rgb(55, 190, 243);
}

.carousel-caption {
  bottom: 0px;
  padding-bottom: 0;
}


/* Login modal */

.altoption {
  padding-top: 5%;
  text-align: center;
}

/* .randbut {
  width: 1%;
} */



#modal1 {
  display: none; /* initially hidden */
  position: fixed; /* position in the center of the screen */
  z-index: 1; /* show on top of other elements */
  left: 0;
  top: 0;
  width: 100%; /* full width */
  height: 100%; /* full height */
  overflow: auto; /* enable scroll if needed */

  text-align: center;
}

.signuplab {
  font-weight: bolder;
  /* padding-bottom: ; */
}

/* modal content */
form {
  /* background-color: #fefefe; */
  margin: 15% auto; /* position in the center of the screen */
  padding: 20px;
  border: 1px solid #888;
  /* width: 80%; set a fixed width */
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
}

/* close button */


#close-btn1 {
  float: right;
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* open button */
#open-btn {
  background-color: #320E3B;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
}

#open-btn1 {
  background-color: #320E3B;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
}






h1 {
  margin-bottom: 30px;
  font-size: 36px;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


/* login */

/* signup */

.dark-mode {
  background-color: #320E3B;
  color: #ddfbd2;
}

.dark-mode body {
  background-color: #320E3B;
  color: #ddfbd2;
}

.dark-mode a {
  color: #ddfbd2;
}



.dark-mode .btn-outline-light {
  color: #ddfbd2;
  border-color: #ddfbd2;
}

.dark-mode .btn-outline-light:hover {
  color: #320E3B;
  background-color: #ddfbd2;
  border-color: #ddfbd2;
}


.dark-mode .navbar-right a {
  color: #ddfbd2;
  font-size: 15px;
  margin-left: 20px;
  text-decoration: none;
}
.dark-mode #title {
  background-color: #320E3B;
  color: #ddfbd2;
}

.dark-mode .navbar {
  background-color: #320E3B;
  color: #ddfbd2;
}

.dark-mode .title-name {
  padding-top: 20px;
  padding-left: 8%;
  font-size: 1.7rem;
  font-family: "Ubuntu";
  font-weight: bold;
  color: #ddfbd2;
  position: relative;
}

.dark-mode .activity_logo {
  filter: invert(1);
}

.dark-mode .update_recent {
  background-color: #ddfbd2;
  color: #320E3B;
}

.dark-mode #start {
  background-color: #320E3B;
}

.dark-mode .header {
  color: #ddfbd2;
}
.dark-mode .fas {
  color: #ddfbd2;
}

.dark-mode #open-btn, .dark-mode #open-btn1 {
  background-color: #ddfbd2;
  color: #320E3B;
}

.dark-mode #login-form, .dark-mode #signup-form {
  background-color: #ddfbd2;
  color: #320E3B;
}

.dark-mode #middd {
  background-color: #320E3B;
}

.dark-mode #foots {
  background-color: #320E3B;
  color: #ddfbd2;
}

.dark-mode .try1 {
  position: relative;
  text-align: left;
  /* padding-left: 3px; */
  /* left: 70px; */
  /* padding-left: 120px; */



}

.dark-mode .try1 a:link {
  text-decoration: none;
  color: #ddfbd2;
}

.dark-mode .try1 a:visited {
  text-decoration: none;
  color: #ddfbd2;
}

.dark-mode .try1 a:hover {
  text-decoration: none;
  font-size: larger;



}

.dark-mode .try1 a:active {
  text-decoration: none;
  color: #ddfbd2;
}


/* login */

#modal {
  display: none; /* initially hidden */
  position: fixed; /* position in the center of the screen */
  z-index: 1; /* show on top of other elements */
  left: 0;
  top: 0;
  width: 100%; /* full width */
  height: 100%; /* full height */
  overflow: auto; /* enable scroll if needed */

}

.login-head {

  display: flex;
  justify-content: space-between;
  margin-bottom: 9%;
}

.login-wel {
  Font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
}

#close-btn {
  float: right;
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #fafafa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 128, 128, 0.2);
  outline: none;
}

input[type="button"] {
  width: 100%;
  padding: 10px;
  background-color: rgb(62, 0, 128);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}

.paslog {
  text-align: center;
}


input[type="button1"] ,.signupbutt{
  width: 17%;
  padding: 10px;
  background-color: rgb(62, 0, 128);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;

}




button[type="submit"]:hover {
  background-color: rgb(15, 0, 100);
}

  /* .form1 {
    display: none;
  } */

#login-form {
  display: none;
}

#admin-form {
  display: none;
}

#signup-form {
  display: none;
}
#signup-form-admin {
  display: none;
}


.checkkk {
  padding-top: 20px;
  color: #320E3B;
}


.dark-mode .checkkk {
  padding-top: 20px;
  color: #ddfbd2;
}


