
/* Anagha's */

.navbar{
    background-color: burlywood;
    border-radius: 30px;
    
}
.navbar ul{
    overflow: auto;
}

.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
    
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: black
}

.search{
    float: right;
    color: white;
    padding: 12px 75px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}

.dropbtn {
    background-color: burlywood;
    color: black;
    padding: 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 72px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.content-items.dropbtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-items {
    display: inline-block;
    position: relative;
    padding: 5px;
    z-index: 10;
    top: 0px;
}

#liner {
    /* padding: 10px; */
    z-index: 1;
    /* position: absolute; */
}

div.dropdown-content a {
    padding: 20px;
}

/* #image {
    position: relative;
} */
.dropdown-content a:hover {background-color:blanchedalmond;}
.dropdown-items:hover .dropdown-content {display: block;}
.dropdown-items:hover .dropbtn {background-color: bisque;}

/* Anagha's Styles */

#menu {
    /* background-color: black; */
    background-image: url(i3.jpg);
    background-size:contain;
}


.ara {
    /* background-color: white; */
    padding-left: 10%;
    padding-right: 10%;
}

.arap {
    background-color: white;
}

.update_recent {
    background-color: white;
  }

/* from home */

body {
    font-family: "Montserrat";
    background-color: black;
  }
  
  .navbar {
    /* padding-top: 50px; */
    padding-bottom: 4.5rem;
  }
  .navbar-brand {
    font-size: 2.5rem;
    font-family: "Ubuntu";
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
  }
  
  .btn {
    margin-right: 3%;
  }
  
  .buttonslol {
    position: relative;
    left: 200px;
  }
  
  .update_recent {
    background-color: white;
  }
  #title {
    background-color: burlywood;
    /* color: #fff; */
  }
  
  .title-name {
    padding-top: 20px;
    padding-left: 8%;
    font-size: 1.7rem;
    font-family: "Ubuntu";
    font-weight: bold;
    color: black;
    position: relative;
  }
  
  .header {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: black;
    padding-bottom: 2%;
  }
  
  #start {
    background-color: #de481f;
    padding: 4% 9%;
  }
  
  .navbar ul{
      overflow: auto;
  }
  
  .navbar li{
      float:right;
      list-style: none;
      margin: 13px 20px;
  
  }
  .navbar li a{
      padding: 3px 3px;
      text-decoration: none;
      color: white;
  }
  .navbar li a:hover{
      color: black
  }
  
  
  .search{
      position: fixed;
      float: right;
      color: white;
      padding: 12px 75px;
  }
  .navbar input{
      border: 2px solid black;
      border-radius: 14px;
      padding: 3px 17px;
      /* //width: 129px; */
  }
  .content-items img{
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      position: relative;
  }

  /* end */

  /* footer */


  #foots {
    padding: 4% 2%;
    color: white;
    text-align: center;
    background-color: black;
  
  }
  
  .conimg {
    /* position: relative; */
    /* float: left; */
    right: 35px;
    width: 90%;
    height: 86%;
  }
  
  
  
  .try1 {
    position: relative;
    text-align: left;
    /* padding-left: 3px; */
    /* left: 70px; */
    /* padding-left: 120px; */
  
    
    
  }
  
  .try1 a:link {
    text-decoration: none;
    color: white;
  }
  
  .try1 a:visited {
    text-decoration: none;
    color: white;
  }
  
  .try1 a:hover {
    text-decoration: none;
    /* color: white; */
    /* color: white; */
    font-size: larger;
    
    
    
  }
  
  .try1 a:active {
    text-decoration: none;
    color: white;
  }
  
  .insta a:hover {
    color: #e32abe;
  }
  
  .fb a:hover {
    color: rgb(64, 64, 231);
  }
  
  .twit a:hover {
    color: rgb(55, 190, 243);
  }

  /* footer */